<div style="padding-left:100px;">
  <%= @names[2] || 'Player not present' %><br><%= @round_scores[2] %>
</div>
<div class="row">
  <div class="col-md-4" style="text-align:right; padding-top:200px;"><%= @names[1] || 'Player not present' %><br><%= @round_scores[1] %></div>
  <div class="col-md-4"><div id="board" style="width:400px; height:400px; border:1px solid; margin:0 auto; background-color:green; position:relative;">
      <div style="position:absolute; margin-left:auto; margin-right:auto; left:0; right:0;">
	<% if @names[1] %>
	<canvas id="top" width="70" height="100"></canvas>
	<% end %>
      </div>
      <div style="position:absolute; top:0; bottom:0; margin:auto;">
	<canvas id="left" width="70" height="100"></canvas>
      </div>
      <div style="position:absolute; right:0; top:0; bottom:0; margin:auto;">
	<canvas id="right" width="70" height="100"></canvas>
      </div>
      <div style="position:absolute; bottom:0; margin-left:auto; margin-right:auto; left:0; right:0;">
	<canvas id="bottom" width="70" height="100"></canvas>
      </div>
  </div></div>
  <div class="col-md-4" style="text-align:left; padding-top:200px; padding-left:100px;"><%= @names[3] || 'Player not present' %><br><%= @round_scores[3] %></div>
</div>
<div style="padding-left:100px;">
  <%= @names[0] || 'Player not present' %><br><%= @round_scores[0] %>
</div>
