- if @winners.present?
  %h2
    Winners:
    \#{@winners.join(', ')}

.row
  .col-xs-3{style: "position: relative"}
    .trump_suit{style: "position: absolute; right: 10px;"}
      %h4{style: "margin-bottom: 10px;"} Trump Suit
      %canvas#trump.playing_card

  .col-xs-6{style: "padding: 0px;"}
    = render 'player', index: 2

.row
  .col-xs-3{style: "padding: 80px 0 0 0;"}
    = render 'player', index: 1

  .col-xs-6{style: "padding: 0px;"}
    #board
      %canvas#top.playing_card
      %canvas#left.playing_card
      %canvas#right.playing_card
      %canvas#bottom.playing_card

  .col-xs-3{style: "padding: 100px 0 0 0;"}
    = render 'player', index: 3

.row
  .col-xs-3
    #buttons
      = render "controls"
  .col-xs-6{style: "padding-top: 15px;"}
    = render 'player', index: 0, you: true
.row
  .col-xs-12
    Your Hand / Cards
    #cardPile
      = render "card_pile"
