- puts "RENDERING BOARD INFO FOR: #{@game.id}".red
#game{data: {url: game_path(@game), player_path: player_action_game_path, poll: @poll.to_s, updated: @game.updated_at } }
  - if @winners.present?
    %h2{style: "margin-bottom: 10px;"}
      Game Over:
      Winner:
      = "\"#{@winners.join(', ')}\""
    = link_to "New Game", new_game_path, class: "btn btn-lg btn-success"
    %br

  .row
    - if @notice.present?
      %h4{style: 'position: absolute;'}
        = @notice

    .col-xs-3{style: "position: relative"}
      - if @dealt
        .trump_suit{style: "position: absolute; right: 10px;"}
          %h4{style: "margin-bottom: 10px;"} Trump Suit
          = render 'playing_card', id: :trump, card: @game.config[:trump_card]
      - else
        %h4{style: "border: 1px solid white; border-radius: 5px; padding: 15px;"} 
          Waiting For: 
          %br
          #{@game.config[:waiting_on_reason]}.
          - if @is_playing 
            %br
            - if @enough_players
              - if @can_start_game
                You
              - else
                Dealer
              can Deal/Start.
            - else
              Need more players.
  
    .col-xs-6{style: "padding: 0px;"}
      = render 'player', index: 2
  
  .row
    .col-xs-3{style: "padding: 80px 0 0 0;"}
      = render 'player', index: 1
  
    .col-xs-6{style: "padding: 0px"}
      #board-wrapper
        #message.hidden
          .text
          .ok
            = link_to "Ok", "#", class: "btn btn-success btn-lg"
        #board
          - cards = cards_shown_on_table
          - layout = %w(bottom left top right)
          - (0..3).each do |index|
            - winning = @names[index].present? && @indexes[index] == @game.config[:winner_index]
            = render 'playing_card', id: layout[index], card: cards[index], extra_class: (winning ? "winning" : nil)
  
    .col-xs-3{style: "padding: 100px 0 0 0;"}
      = render 'player', index: 3
  
  .row
    .col-xs-3
      = render "controls"
    .col-xs-6{style: "padding-top: 15px;"}
      = render 'player', index: 0, you: @is_playing
  .row
    .col-xs-12
      Your Hand 
      %i (double click to play)
      /or drag and drop) # TODO
      #cardPile
        = render "card_pile"

  = render "debug"
