    <% unless @cards.empty? %>
    <% @cards.each_with_index do |card,i| %>
    <div id="<%= "card#{i}" %>">
      <canvas id="<%= "canv#{i}" %>" width="70" height="100" data-suit="<%= card.suit %>" data-value="<%= card.abbreviated_name %>" data-playable="<%= card.playable %>" data-actualvalue="<%= card.value %>" ></canvas>
    </div>
    <% end %>
    <% end %>
