- unless @cards.empty?
  - @cards.each_with_index do |card,i|
    %div{id: "card#{i}"}
      %canvas{"data-actualvalue" => "#{card.value}", "data-playable" => "#{card.playable}", "data-suit" => "#{card.suit}", "data-value" => "#{card.abbreviated_name}", height: "100", id: "canv#{i}", width: "70"}