- if @can_start_game && !@dealt
  = link_to 'Start Game', "#", class: "start_game btn btn-lg btn-success", data: {url: start_game_path}

- if @waiting_on_you && @game.config[:waiting_on_reason] == "Clear" && @winners.try(:empty?)
  = link_to 'Clear/Next', "#", class: "deal btn btn-lg btn-success", data: {url: deal_game_path}

- show_bid_form = @waiting_on_you && @dealt && !@done_bidding
- if show_bid_form
  .bid_form
    %h3#bid-title{style: "color: red;"} Bid Now
    .input-group{style: "width:150px; margin: auto;"}
      - max = @cards.size
      = number_field_tag("bid", 0, min: 0, max: max, class: "form-control input-lg")
      %span.input-group-btn
        = link_to("Bid", "#", class: "btn btn-lg btn-success", data: {disable: true, disable_with: "Bidding..."})

  :javascript
    var bid_title = $("#bid-title");
    setInterval(function(){
      bid_title.fadeOut(500);
      bid_title.fadeIn(500);
    }, 1000);

- notice_message = @notice || notice 
- if notice_message
  %h4
    Notice: 
    %br
    = "\"#{notice_message}\""
