<!-- join game form -->
<div class="row">
  <% unless @game_started %>
    <% unless @is_playing %>
      <%= form_tag(games_add_player_path) do %>
      <%= hidden_field_tag(:id, params[:id]) %>
      <div>
        <div id="username-input" class="input-group">
          <%= text_field_tag("username", "Username", class: "form-control input-lg") %>
          <span class="input-group-btn">
            <%= button_tag("Join game", type: "submit", class: "btn btn-lg btn-primary") %>
          </span>
        </div>
        <% end %>
      </div>
      <br>
    <% end %>
    <%= button_to 'Add Computer Player',
                  games_add_cpu_player_path,
                  method: :post,
                  params: { :id => params[:id] },
                  class: 'btn btn-lg btn-primary' %>
    <br>
  <% end %>
  <!-- deal button -->
  <% if @can_start_game and not @game_started %>
  <div>
    <%= button_to 'Deal', games_deal_path, method: :post, params: {:id => params[:id]}, class: "btn btn-lg btn-primary" %>
  </div>
  <br>
  <% end %>
  <!-- bid form -->
  <% if @waiting_on == 'YOU (BIDDING)' and not @done_bidding %>
  <div>
    <%= form_tag(games_player_action_path) do %>
    <%= hidden_field_tag(:id, params[:id]) %>
    <div class="input-group" style="width:150px;">
      <%= number_field_tag("bid", 0, min: 0, max: 10, class: "form-control input-lg") %>  
      <span class="input-group-btn">
        <%= button_tag("Bid", type: "submit", class: "btn btn-lg btn-primary") %>
      </span>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
