- if @can_start_game && !@dealt
  = button_to 'Start Game', games_deal_path, method: :post, params: {id: params[:id]}, class: "btn btn-lg btn-primary"

- show_bid_form = @waiting_on_you && @dealt && !@done_bidding
- if show_bid_form
  %h3#bid-title{style: "color: red;"} Bid Now
  = form_tag(games_player_action_path, style: "text-align: center;") do
    = hidden_field_tag(:id, params[:id])
    .input-group{style: "width:150px; margin: auto;"}
      = number_field_tag("bid", 0, min: 0, max: 10, class: "form-control input-lg")
      %span.input-group-btn
        = button_tag("Bid", type: "submit", class: "btn btn-lg btn-primary", data: {disable: true})
  :javascript
    var bid_title = $("#bid-title");
    setInterval(function(){
      bid_title.fadeOut(500);
      bid_title.fadeIn(500);
    }, 1000);
