/ join game form
.row
  - unless @game_started
    - unless @is_playing
      = form_tag(games_add_player_path) do
        = hidden_field_tag(:id, params[:id])
        %div
          #username-input.input-group
            = text_field_tag("username", nil, class: "form-control input-lg", placeholder: "Username", required: true)
            %span.input-group-btn
              = button_tag("Join game", type: "submit", class: "btn btn-lg btn-primary", data: {disable: true})
        %br/
      = button_to 'Add Computer Player', |
        games_add_cpu_player_path,       |
        method: :post,                   |
        params: { :id => params[:id] },  |
        class: 'btn btn-lg btn-primary', |
        style: 'visibility: hidden'      |
      %br/
    / deal button
    - if @can_start_game and not @game_started
      %div
        = button_to 'Deal', games_deal_path, method: :post, params: {:id => params[:id]}, class: "btn btn-lg btn-primary"
      %br/
    / bid form
    - if @waiting_on == 'YOU (BIDDING)' && !@done_bidding
      %h3#bid-title{:style => "color:red;"} Bid Now
      %div
        = form_tag(games_player_action_path) do
          = hidden_field_tag(:id, params[:id])
          .input-group{:style => "width:150px;"}
            = number_field_tag("bid", 0, min: 0, max: 10, class: "form-control input-lg")
            %span.input-group-btn
              = button_tag("Bid", type: "submit", class: "btn btn-lg btn-primary", data: {disable: true})
      :javascript
        var bid_title = $("#bid-title");
        setInterval(function(){
          bid_title.fadeOut(500);
          bid_title.fadeIn(500);
        }, 1000);
