.row
  %hr
  .col-xs-12
    %pre{style: "max-width: 400px; margin: auto; text-align: left;"}
      = "POLLING: #{@poll}"
      = ""
  
      - c = @game.config
      - c[:player_hands] = c[:player_hands].collect {|h| "Hand size: #{h.size}"} if c[:player_hands]
      - c[:deck] = "Cards remaining: #{c[:deck].size}" if c[:deck]
      = c.to_yaml
