= form_for(@game) do |f|
  .row
    .col-xs-2
    .col-xs-4.text-right
      = f.text_field :name, class: "input-lg", placeholder: "Game Name", required: true, style: "width: 240px;"
    .col-xs-4.text-left
      = f.submit class: "btn btn-lg btn-success", style: "width: 240px;"
  .row
    .col-xs-12
      %h3{style: "margin: 20px;"} Extra Game Options 
      %i (* in the works)
  - Game::OPTIONS.each do |key, c|
    .row
      .col-xs-12
        = label_tag key, c[:label], style: "font-size: 120%;"
        - default = c[:default]
        - if c.has_key?(:select)
          = select_tag key, options_for_select(c[:select], selected: default)
        - else # just total_rounds
          = number_field_tag key, default
