- show = @names[index].present?
- you ||= false
- classes = ''
- classes << " you" if you
- classes << " waiting_for" if index == @waiting_on_index
.player_card{class: classes, data: {index: index}}
  %h3{style: "margin-bottom: 10px;"}
    .waiting_notice
      %h4{style: "margin-bottom: 10px;"}
        Waiting for:
        #{@waiting_on}

    - if show
      = "\"#{@names[index]}\""
    - else
      Player not present
  - if show
    %h4.score{style: "margin-bottom: 10px;"}
      #{@places[index]}#{ActiveSupport::Inflector.ordinal(@places[index])}
      \-
      #{@total_scores[index]} points
    %h4.bid_info{style: "margin-bottom: 10px;"}
      = @round_scores[index]
