- show = @names[index].present?
- you ||= false
- classes = ''
- classes << " you" if you
- classes << " waiting_for" if @indexes[index] == @waiting_on_index && @enough_players
- position ||= nil
- style = position.present? ? "position: absolute; top: #{position['top']}; left: #{position['left']};" : nil

.player_card{class: classes, style: style}
  %h3{style: "margin-bottom: 10px;"}
    - if show
      = "\"#{@names[index]}\""
      - if @indexes[index] == @game.config[:dealer_index]
        = image_tag 'cards-favicon.png', size: "25x25", style: "border: 1px white solid; background-color: white;"
    - else
      Player not present

  - if show
    %h4.score{style: "margin-bottom: 10px;"}
      #{@total_scores[index]} points
      (#{@places[index]}#{ActiveSupport::Inflector.ordinal(@places[index])})
    - bid = @round_scores[index]
    %h4.bid_info{style: "margin-bottom: 5px; color: #{bid.last}"}
      = bid.first

    - if params[:debug]
      %h4{style: "margin-bottom: 5px;"}
        Seat#: #{index}
        Profile#: #{@indexes[index]}
