%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading Crush
          %p.intro-text 
            %b
              A card game.
              %br
              %i Crush your friends anytime, anywhere.
          .row
            .col-xs-6.text-right
              = link_to new_game_path, class: "btn btn-lg btn-success" do
                %i.fa.fa-gamepad
                Create new game
            .col-xs-6.text-left
              = link_to "#games", style: "margin-left:10px;", class: "btn btn-success btn-lg page-scroll" do
                %i.fa.fa-users
                Join existing game
          .row
            .col-xs-12{style: "margin-top: 20px;"}
              = link_to "#rules", class: "btn btn-lg page-scroll btn-success" do
                %i.fa.fa-book
                Learn the rules

%section#games.container.content-section.text-center
  %h1 Games in Progress
  %table#game_list.table
    %thead
      %tr
        %th id
        %th Name
        %th Created
        %th Number of players
        %th View
    %tbody
      - @games.each do |game|
        %tr
          %td= game.id
          %td= game.name
          %td= "#{distance_of_time_in_words(Time.now, game.created_at)} ago"
          %td= game.load_state[:players].size
          %td= link_to('View', game, data: { no_turbolink: true }, class: "btn btn-md btn-default")
  %br/
  = link_to new_game_path, class: "btn btn-lg btn-default" do
    %i.fa.fa-gamepad
    Create new game
  %br/

%section#history.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h1 History
      %p
        Crush is the oldest game played from around the world since ancient times. 
        Deriving from the latin word "cruschen", the name comes from the Renaissance, when great leaders and thinkers were known to have been fond players. 
        They say the great Leonardo Da Vinci earned his first apprenticeship after defeating his master in just this game.
      %p
        Versions of this game are also known as "Tisch" and "Oh Hell" (as popularized by Bill Clinton).

/ How to Play Section
%section#rules.container.content-section.text-center
  = render "rules"
