!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Crush - The Card Game
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Crush, the card game", :name => "description"}/
    %meta{:content => "Ben Cwik and friends", :name => "author"}/

    / Custom Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/

    = csrf_meta_tags
    :javascript
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("EtqkTpuzTRfuQcYuwOxVEHrcgTwG8PLt");
      analytics.page()
      }}();
  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
    %nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars

          - target = @game.present? ? root_path : "#page-top"
          %a.navbar-brand.page-scroll{href: target}
            %i.fa.fa-play-circle
            CRUSH
            - if @game.present? && @game.name.present?
              = "- \"#{@game.name}\""
              - if @round.present?
                = " - Round ##{@round}"
                
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse.hidden
          %ul.nav.navbar-nav
            / Hidden li included to remove active class from about link when scrolled up past about section
            %li.hidden
              %a{:href => "#page-top"}
            %li
              %a.page-scroll{:href => "#games"}
                %i.fa.fa-gamepad
                Games
            %li
              %a.page-scroll{:href => "#about"}
                %i.fa.fa-question-circle
                How to Play
            %li
              %a.page-scroll{:href => "#contact"}
                %i.fa.fa-envelope
                Contact
    .container{style: "padding-top: 100px;"}
      .row
        .col-xs-12
          = yield

    = stylesheet_link_tag 'bootstrap_and_overrides'
